<h2>Add car</h2>
<p>
  <label>Brand:</label>
  <input [(ngModel)]="carBrand">
</p>
<p>
  <label>Model:</label>
  <input [(ngModel)]="carModel">
</p>
<p>
  <label>Year:</label>
  <input [(ngModel)]="carYear">
</p>
<p>
  <label>VIN number:</label>
  <input [(ngModel)]="carNumber">
</p>

<form [formGroup]="contactForm" (ngSubmit)="submit()">

  <p>
    <label>Select Owner ID:</label>
    <select formControlName="owner">
      <option [ngValue]="null" disabled>Select Owner</option>
      <option *ngFor="let owner of owners" [ngValue]="owner.id">{{owner.id}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>

<button (click)="add()">Add</button>

<h3>Owners:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
  </tr>
  <tr>
    <div *ngFor="let item of owners">
      <th>{{item.id}}</th>
    </div>
  </tr>
  </tbody>
</table>

<h3>Cars:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>VIN number</th>
  </tr>
  <tr>
    <div *ngFor="let item of cars">
      <th>{{item.id}}</th>
      <th>{{item.brand}}</th>
      <th>{{item.model}}</th>
      <th>{{item.number}}</th>
    </div>
  </tr>
  </tbody>
</table>
