<div *ngIf="owner">
  <h2>Owner Details</h2>
  <div><span>id: </span>{{owner.id}}</div>
  <div>
    <label>Cars:
      <input [(ngModel)]="owner.cars" placeholder="cars"/>
    </label>
  </div>
  <div>
    <label>Orders:
      <input [(ngModel)]="owner.orders" placeholder="orders"/>
    </label>
  </div>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>

<h3>Cars:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>VIN number</th>
  </tr>
  <tr>
    <div *ngFor="let item of cars">
      <th>{{item.id}}</th>
      <th>{{item.brand}}</th>
      <th>{{item.model}}</th>
      <th>{{item.number}}</th>
    </div>
  </tr>
  </tbody>
</table>

<h3>Orders:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Description</th>
  </tr>
  <tr>
    <div *ngFor="let item of orders">
      <th>{{item.id}}</th>
      <th>{{item.description}}</th>
    </div>
  </tr>
  </tbody>
</table>
