<div *ngIf="order">
  <h2>Order Details</h2>
  <div><span>id: </span>{{order.id}}</div>

  <form [formGroup]="statusForm" (ngSubmit)="submitStatus()">

    <label>Select Status</label>
    <p>
      <select formControlName="status">
        <option [ngValue]="null" disabled>Select Status</option>
        <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
      </select>

      <button type="submit">Submit</button>
    </p>

  </form>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>

