<h2>Add order</h2>

<form [formGroup]="carForm" (ngSubmit)="submitCar()">

  <p>
    <label>Select Car</label>
    <label> By VIN number:</label>
    <select formControlName="car">
      <option [ngValue]="null" disabled>Select Car</option>
      <option *ngFor="let car of cars" [ngValue]="car.id">{{car.number}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>

<p>
  <label>Description:</label>
  <input [(ngModel)]="description">
</p>

<form [formGroup]="taskForm" (ngSubmit)="submitTask()">

  <p>
    <label>Select Task</label>
    <label> By Task ID:</label>
    <select formControlName="task">
      <option [ngValue]="null" disabled>Select Task</option>
      <option *ngFor="let task of tasks" [ngValue]="task.id">{{task.id}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>
<form [formGroup]="productForm" (ngSubmit)="submitProduct()">

  <p>
    <label>Select Product</label>
    <label> By Title:</label>
    <select formControlName="title">
      <option [ngValue]="null" disabled>Select Product</option>
      <option *ngFor="let product of products" [ngValue]="product.id">{{product.title}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>
<p>
  <label>Date finished:</label>
  <input [(ngModel)]="dateFinished">
</p>
<button (click)="add()">Add</button>


<h3>Orders:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Description</th>
  </tr>
  <tr>
    <div *ngFor="let item of orders">
      <th>{{item.id}}</th>
      <th>{{item.description}}</th>
    </div>
  </tr>
  </tbody>
</table>

<h3>Cars:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>VIN number</th>
  </tr>
  <tr>
    <div *ngFor="let item of cars">
      <th>{{item.id}}</th>
      <th>{{item.brand}}</th>
      <th>{{item.model}}</th>
      <th>{{item.number}}</th>
    </div>
  </tr>
  </tbody>
</table>

<h3>Products:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Price</th>
  </tr>
  <tr>
    <div *ngFor="let item of products">
      <th>{{item.id}}</th>
      <th>{{item.title}}</th>
      <th>{{item.price}}</th>
    </div>
  </tr>
  </tbody>
</table>

<h3>Tasks:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Mechanic</th>
    <th>Price</th>
  </tr>
  <tr>
    <div *ngFor="let item of tasks">
      <th>{{item.id}}</th>
      <th>{{item.mechanic}}</th>
      <th>{{item.price}}</th>
    </div>
  </tr>
  </tbody>
</table>
