<h2>Add car owner</h2>

<form [formGroup]="carForm" (ngSubmit)="submitCar()">

  <p>
    <label>Select Car VIN number:</label>
    <select formControlName="car">
      <option [ngValue]="null" disabled>Select Car</option>
      <option *ngFor="let car of cars" [ngValue]="car.id">{{car.number}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>

<form [formGroup]="orderForm" (ngSubmit)="submitOrder()">

  <p>
    <label>Select Order description:</label>
    <select formControlName="order">
      <option [ngValue]="null" disabled>Select Order</option>
      <option *ngFor="let order of orders" [ngValue]="order.id">{{order.description}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>


<button (click)="add()">Add</button>

<h3>Cars:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>VIN number</th>
  </tr>
  <tr>
    <div *ngFor="let item of cars">
      <th>{{item.id}}</th>
      <th>{{item.brand}}</th>
      <th>{{item.model}}</th>
      <th>{{item.number}}</th>
    </div>
  </tr>
  </tbody>
</table>

<h3>Orders:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Description</th>
  </tr>
  <tr>
    <div *ngFor="let item of orders">
      <th>{{item.id}}</th>
      <th>{{item.description}}</th>
    </div>
  </tr>
  </tbody>
</table>
