<h2>Add car owner</h2>

<form [formGroup]="carForm" (ngSubmit)="submitCar()">

  <p>
    <label>Select Car VIN number:</label>
    <select formControlName="car">
      <option [ngValue]="null" disabled>Select Car</option>
      <option *ngFor="let car of cars" [ngValue]="car.id">{{car.number}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>

<form [formGroup]="orderForm" (ngSubmit)="submitOrder()">

  <p>
    <label>Select Order description:</label>
    <select formControlName="order">
      <option [ngValue]="null" disabled>Select Order</option>
      <option *ngFor="let order of orders" [ngValue]="order.id">{{order.description}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>


<button (click)="add()">Add</button>
