<h2>Add task</h2>

<p>
  <label>Type of task:</label>
  <input [(ngModel)]="typeID">
</p>

<form [formGroup]="orderForm" (ngSubmit)="submitOrder()">

  <label>Select Order</label>
  <p>
    <label>By Description:</label>
    <select formControlName="order">
      <option [ngValue]="null" disabled>Select Order</option>
      <option *ngFor="let order of orders" [ngValue]="order.id">{{order.description}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>
<form [formGroup]="mechanicForm" (ngSubmit)="submitMechanic()">

  <label>Select Mechanic</label>
  <p>
    <label>By Name:</label>
    <select formControlName="mechanic">
      <option [ngValue]="null" disabled>Select Mechanic</option>
      <option *ngFor="let mechanic of mechanics" [ngValue]="mechanic.id">{{mechanic.name}}</option>
    </select>

    <button type="submit">Submit</button>
  </p>

</form>
<p>
  <label>Price:</label>
  <input [(ngModel)]="price">
</p>
<p>
  <label>Payment status:</label>
  <input [(ngModel)]="paymentStatus">
</p>
<button (click)="add()">Add</button>


<h3>Orders:</h3>
<div *ngFor="let item of orders">
  {{item.id}} -- {{item.description}}
</div>

<h3>Mechanics:</h3>
<div *ngFor="let item of mechanics">
  {{item.id}} -- {{item.name}}
</div>

<h3>Payment Statuses:</h3>
<div *ngFor="let item of paymentStatuses">
  {{item}}
</div>

<h3>Types of task:</h3>
<div *ngFor="let item of types">
  {{item}}
</div>
