<div *ngIf="order">
  <h2>Order Details</h2>
  <div><span>id: </span>{{order.id}}</div>
  <div>
    <label>Car:
      <input [(ngModel)]="order.car" placeholder="car"/>
    </label>
  </div>
  <div>
    <label>Description:
      <input [(ngModel)]="order.description" placeholder="description"/>
    </label>
  </div>
  <div>
    <label>Tasks:
      <input [(ngModel)]="order.tasks" placeholder="tasks"/>
    </label>
  </div>
  <div>
    <label>Products:
      <input [(ngModel)]="order.products" placeholder="products"/>
    </label>
  </div>
  <div>
    <label>Date Finished:
      <input [(ngModel)]="order.dateFinished" placeholder="dateFinished"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>

<h3>Cars:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>VIN number</th>
  </tr>
  <tr>
    <div *ngFor="let item of cars">
      <th>{{item.id}}</th>
      <th>{{item.brand}}</th>
      <th>{{item.model}}</th>
      <th>{{item.number}}</th>
    </div>
  </tr>
  </tbody>
</table>

<h3>Products:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Price</th>
  </tr>
  <tr>
    <div *ngFor="let item of products">
      <th>{{item.id}}</th>
      <th>{{item.title}}</th>
      <th>{{item.price}}</th>
    </div>
  </tr>
  </tbody>
</table>

<h3>Tasks:</h3>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>Mechanic</th>
    <th>Price</th>
  </tr>
  <tr>
    <div *ngFor="let item of tasks">
      <th>{{item.id}}</th>
      <th>{{item.mechanic}}</th>
      <th>{{item.price}}</th>
    </div>
  </tr>
  </tbody>
</table>
