<div *ngIf="order">
  <h2>Order Details</h2>
  <div><span>id: </span>{{order.id}}</div>
  <div>
    <label>Car:
      <input [(ngModel)]="order.car" placeholder="car"/>
    </label>
  </div>
  <div>
    <label>Description:
      <input [(ngModel)]="order.description" placeholder="description"/>
    </label>
  </div>
  <div>
    <label>Tasks:
      <input [(ngModel)]="order.tasks" placeholder="tasks"/>
    </label>
  </div>
  <div>
    <label>Products:
      <input [(ngModel)]="order.products" placeholder="products"/>
    </label>
  </div>
  <div>
    <label>Date Finished:
      <input [(ngModel)]="order.dateFinished" placeholder="dateFinished"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
